@import url(http://fonts.googleapis.com/css?family=Lora:700);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	background-color: #F2E5D2;
	text-align: center;
}

h1, h2, h3 {
	font-family: Lora, serif;
	font-weight: 700;
}

h1 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-family: Lato, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 1em;
}

footer p {
	font-size: 10px;
}

p {
	font-family: Lato, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 0.5em;
}

ul {
    list-style-type: none;
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
	margin-right: 1em;
	margin-top: 0.5em;
}

a:link,
a:visited {
	font-family: Lato;
	font-weight: 700;
	color: #73253F;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #C14969;
}

main img {
   padding:1px;
   border:1px solid #73253F;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

img {
	max-width: 100%;
}

dd, dt {
	font-family: Lato, Helvetica, sans-serif;
    max-width: inherit;
}

dd {
	margin-bottom: 1em;
}

dl {
	max-width: 200px;
	margin: 0 auto;
}

form {
	margin-bottom: 4em;
}

.row {
	margin: auto;
}

.percentage-bar {
	background-color: #73253F;
	height: 18px;
}

.meter {
	width: 100px;
	height: 20px;
	margin: 5px;
	background-color: white;
	border: 1px solid black;
}

.reviews {
	margin-top: 75px;
}
/*test code for product grids*/
/*#productGrid [class^="col-"] {*/
	/*margin: auto;*/
	/*padding: auto;*/
	/*background-color: #eee;*/
	/*background-color: rgba(86,61,124,.15);*/
/*}*/

/*Media query for medium or larger screens*/
@media (min-width: 992px) {
	h1 {
		font-size: 35px;
	}

	.col-md-6 {
	min-width: 570px;
	min-height: 422px;
}
}