@import url(http://fonts.googleapis.com/css?family=Lora:700);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	background-color: #F2E5D2;
	text-align: center;
}

h1, h2, h3 {
	font-family: Lora;
	font-weight: 700;
}

h1 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

footer p {
	font-size: 10px;
}

p {
	font-family: Lato, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 1em;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
	margin-right: 1em;
	margin-top: 0.5em;
}

a:link,
a:visited {
	font-family: Lato;
	font-weight: 700;
	color: #73253F;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #A32E4E;
}

main img {
   padding:1px;
   border:1px solid #73253F;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

img {
	max-width: 100%;
}

dd, dt {
	font-family: Lato, Helvetica, sans-serif;
}

dd {
	margin-bottom: 1em;
}

/*Is this necessary with text-align rule?*/
img.sins {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Media query for medium or larger screens*/
@media (min-width: 992px) { 
	h1 {
		font-size: 35px;
	}
}